{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Buffet{% endblock %}

{% block main %}
    <div class="content-panel">
        <h2 class="h4 mb-3">Overview</h2>
        <p>Welcome to the Buffet admin. Use the menu to manage dishes and review updates.</p>
    </div>
{% endblock %}
