{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Dishes{% endblock %}

{% block main %}
    <div class="content-panel">
        <h2 class="h4 mb-3">Dishes</h2>
        <p>Manage your menu items here. This is a placeholder page for now.</p>
    </div>
{% endblock %}
